# ===================== BACKEND (.NET Core API) =====================

# Build results
**/bin/
**/obj/

# User-specific files
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

# ASP.NET Scaffolding
**/ScaffoldingReadMe.txt

# Others
**/*.log
**/*.tlog
**/*.cache
**/*.pdb
**/*.mdb
**/*.dbmdl
**/*.bak
**/*.orig

# Visual Studio Code
**/.vscode/
**/.vs/

# NuGet
**/*.nupkg
**/*.snupkg
**/*.nuspec
**/packages/
**/project.lock.json
**/project.fragment.lock.json

# Runtime
**/*.dll
**/*.exe
**/*.deps.json
**/*.runtimeconfig.json
**/*.runtimeconfig.dev.json

# Publish
**/publish/
**/out/
**/artifacts/

# Secrets
**/appsettings.Development.json
**/appsettings.Local.json
**/secrets.json
**/.env

# Docker
**/*.tar
**/docker-compose.override.yml

# Logs
**/logs/
**/*.log

# Test results and IDE configs
**/TestResults/
**/.idea/

# ===================== FRONTEND (Next.js) =====================

# dependencies
**/node_modules/
**/.pnp
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/versions

# testing
**/coverage/

# next.js
**/.next/
**/out/

# production
**/build/

# misc
**/.DS_Store
**/*.pem

# debug logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# env files
**/.env*

# vercel
**/.vercel/

# typescript
**/*.tsbuildinfo
**/next-env.d.ts